name: build and send to docker registry

on:
  pull_request:
    branches:
      - main

env:
  PROJECT_NAME: vacation_pay_service

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up to JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'liberica'
          java-version: '17'

      - name: Build with Maven
        run: mvn clean package -DskipTests=true -B

      - name: DockerHub Authenticate
        uses: docker/login-action@v3.3.0
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Extract project version for docker image
        run: |
          VERSION=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          RELEASE_VERSION=$(echo $VERSION | sed 's/-SNAPSHOT//')
          echo "VERSION=$RELEASE_VERSION" >> $GITHUB_ENV

      - name: Build image
        run: docker build . -t ${{ secrets.DOCKER_LOGIN }}/${{ env.PROJECT_NAME }}:$VERSION -t ${{ secrets.DOCKER_LOGIN }}/${{ env.PROJECT_NAME }}:latest -e SPRING_SECURITY_USER_NAME=${{ secrets.SPRING_SECURITY_USERNAME }} -e SPRING_SECURITY_USER_PASSWORD=${{ secrets.SPRING_SECURITY_PASSWORD }} --no-cache

      - name: Send to dockerhub registry
        run: docker push ${{ secrets.DOCKER_LOGIN }}/${{ env.PROJECT_NAME }} --all-tags
